@model SystoqueApplication.Models.Item

@{
    var lista = new SystoqueApplication.Models.Item();

    if (Model != null)
    {
        lista = Model;
    }
}



@{
    if (lista.produto != null)
    {

        foreach (var Item in lista.produto)
        {

            <tr>
                <td>@Item.codigoBarra</td>
                <td>@Item.nomeProduto</td>
                <td>@Item.valorVenda</td>
                <td>@Model.qtdItem</td>
                <td></td>
            </tr>


        }
    }
}

